.container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
  min-height: calc(100% - 112px);

  @media screen and (min-width: 991px) {
    min-height: calc(100% - 128px);
  }

  #map {
    height: 100%;
    margin: 1rem;
    min-height: calc(100vh - 112px);
    width: 100%;
  }
}
