<ng-container *ngIf="bible">
  <mat-card class="bible-card animated fadeIn">
    <mat-card-header>
      <mat-card-title>{{ bible.title }}</mat-card-title>
      <mat-card-subtitle>{{ bible.publishers }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="bible-card__body">
      <img
        class="bible-card__img"
        [src]="bible.imageUrl"
        [alt]="bible.abbreviatedTitle"
      />
      <p class="bible-card__content">
        {{ bible.description }}
      </p>
    </mat-card-content>
    <mat-card-actions class="bible-card__button-container">
      <button mat-raised-button color="primary" (click)="openDialog()">
        Set this version
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>
