<app-header></app-header>
<main class="container">
  <h3>Para más información acerca de Iglesia Next, visita:</h3>

  <a mat-button href="https://iglesianext.es" target="_blank">
    <span>iglesianext.es</span>
    <i class="fas fa-globe"></i>
  </a>

  <a mat-button href="https://www.facebook.com/Iglesianext/" target="_blank">
    <span>facebook.com/Iglesianext/</span>
    <i class="fab fa-facebook"></i>
  </a>

  <a mat-button href="https://www.instagram.com/iglesianext/" target="_blank">
    <span>instagram.com/iglesianext/</span>
    <i class="fab fa-instagram"></i>
  </a>

  <a mat-button href="https://www.youtube.com/c/IglesiaNext" target="_blank">
    <span>youtube.com/c/IglesiaNext</span>
    <i class="fab fa-youtube"></i>
  </a>
</main>
<app-footer></app-footer>
