<app-header></app-header>
<main class="container">
  <mat-form-field class="input-container" appearance="fill">
    <mat-label>Buscar en la Biblia</mat-label>
    <input matInput autocomplete="off" [(ngModel)]="search" />
  </mat-form-field>
  <div class="button-container">
    <button
      mat-raised-button
      [disabled]="loading$ | async"
      color="primary"
      (click)="getSearch()"
    >
      Buscar
    </button>
  </div>

  <section *ngIf="result$ | async as results" class="results">
    <div *ngFor="let result of results.results" class="animated fadeIn">
      <h3>{{ result.title }}</h3>
      <p>{{ result.preview }}</p>
    </div>
  </section>
</main>
<app-footer></app-footer>
