.container {
  min-height: calc(100vh - 112px);
  margin: 0 auto;
  max-width: 1440px;

  @media screen and (min-width: 991px) {
    min-height: calc(100vh - 128px);
  }
}

.icon {
  padding-right: 0.5rem;
}

.input-container {
  display: flex !important;
  text-align: unset;
  min-width: 100%;

  .mat-form-field-wrapper {
    margin: 1rem;
    width: 100%;
  }
}

.button-container {
  padding: 0 1rem;
  button {
    width: 100%;
  }
}

.results {
  padding: 1.5rem;
}
