<app-header></app-header>
<main class="container animated fadeIn">
  <mat-selection-list #options [multiple]="false">
    <mat-list-option
      *ngFor="let option of routerOptions"
      [value]="option"
      [routerLink]="option.link"
    >
      <mat-list-item
        ><mat-icon class="icon" aria-hidden="false" aria-label="Icon">{{
          option.icon
        }}</mat-icon>
        {{ option.name }}</mat-list-item
      >
      <mat-divider></mat-divider>
    </mat-list-option>
  </mat-selection-list>
</main>
<app-footer></app-footer>
