.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 1440px;
  min-height: calc(100% - 112px);
  padding: 0 1rem;
  text-align: center;

  @media screen and (min-width: 991px) {
    min-height: calc(100% - 128px);
  }

  h3 {
    margin-top: 3rem;
  }

  .prayer {
    font-size: 1.5rem;
    line-height: 1.5rem;

    .mat-button-wrapper {
      align-items: center;
      display: flex;
    }

    mat-icon {
      padding: 0 0.5rem;
    }
  }
}
